*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

body{
    background-color: #2F2F2F;
    color: #ff1;
    height: 100vh;
    width: 100%;
}
h1{
    text-align: center;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}